## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns=["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

application_df.nunique()

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at value counts for binning
name_value_count = application_df["NAME"].value_counts()
name_value_count

PARENT BOOSTER USA INC                                  1260
TOPS CLUB INC                                            765
UNITED STATES BOWLING CONGRESS INC                       700
WASHINGTON STATE UNIVERSITY                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC          408
                                                        ...
TCATS LLC                                                  1
CRUSE MEDICAL CARE INC                                     1
ROTARY YOUTH EXCHANGE FLORIDA INC                          1
SHREE DURGA SHIVA VISHNU TEMPLE                            1
SYLACAUGA ALLIANCE FOR FAMILY ENHANCEMENT INC - SAFE       1
Name: NAME, Length: 19568, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
name_types_to_replace = list(name_value_count.loc[name_value_count < 5].index)
# name_types_to_replace

# Replace in dataframe
for name in name_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
COUNTRY DANCE AND SONG SOCIETY INC                                       5
INTERNATIONAL WOMENS INSOLVENCY & RESTRUCTURING CONFEDERATION INC        5
KAPPA ALPHA PSI FRATERNITY                                               5
AMERICAN-TURKISH ASSOCIATION OF SOUTHERN CALIFORNIA                      5
Name: NAME, Length: 403, dtype: int64

In [10]:
# Look at APPLICATION value counts for binning
binning = application_df['APPLICATION_TYPE'].value_counts()
binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
applications_to_replace = list(binning [binning < 500].index)
# applications_to_replace

# Replace in dataframe
for app in applications_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
    
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts for binning
c_binning = application_df['CLASSIFICATION'].value_counts()

In [14]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = c_binning[c_binning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C0           3
C1260        3
C2710        3
C1246        2
C3200        2
C1234        2
C1256        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (c_binning[c_binning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C2300',
 'C7200',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C6000',
 'C1800',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C1720',
 'C2400',
 'C4100',
 'C1257',
 'C1600',
 'C0',
 'C1260',
 'C2710',
 'C1246',
 'C3200',
 'C1234',
 'C1256',
 'C1267',
 'C1236',
 'C4500',
 'C2150',
 'C3700',
 'C4200',
 'C2600',
 'C5200',
 'C1248',
 'C6100',
 'C1820',
 'C4120',
 'C2190',
 'C8210',
 'C2170',
 'C1570',
 'C2570',
 'C1283',
 'C1245',
 'C1728',
 'C1900',
 'C1370',
 'C1732',
 'C2561',
 'C1580',
 'C2500',
 'C2380']

In [16]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df, dtype=float)
application_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
y = application_dummies_df["IS_SUCCESSFUL"].values
# y
X = application_dummies_df.drop("IS_SUCCESSFUL", axis=1).values
# X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
X_train_scaled.shape

(25724, 452)

In [21]:
X_test_scaled.shape

(8575, 452)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

hidden_layer1 = 80
hidden_layer2 = 30

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer1, activation="relu", input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid")) 

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                36240
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 38,701
Trainable params: 38,701
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Karina Alvarez\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [24]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.4722 - acc: 0.77770s - loss: 0.4843 - acc: 0. - ETA: 0s - loss: 0.4761 - acc: 0.7
Epoch 2/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4304 - acc: 0.79580s - loss: 0.4274 - ac - ETA: 0s - loss: 0.4315 - acc: 0.79
Epoch 3/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4241 - acc: 0.79741s - loss: 0.4262 - acc: 0. - ETA: 0s - loss: 0.4162  - ETA: 0s - loss: 0.4222 - acc: 0. - ETA: 0s - loss: 0.4245 - acc: 0.796
Epoch 4/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4228 - acc: 0.79850s - loss: 0.4210 - acc: - ETA: 0s - loss: 0.4218 - acc: 0
Epoch 5/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4206 - acc: 0.79920s - loss: 0.4128 - acc: 0.8 - ETA: 0s - loss: 0.4172 - acc: 0.79 - ETA: 0s - loss: 0.4185 - acc: 0. - ETA: 0s - loss: 0.4189 - acc:
Epoch 6/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4182 - acc: 0.7994
Epoch 7/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.4173 - acc: 0.80070s - loss: 0.4171 - acc: 0.8
Epoch 8/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4158 - acc: 0.8010
Epoch 9/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4153 - acc: 0.80060s - loss: 0.4157 - ETA: 0s - loss: 0.4151 - acc: 0.80
Epoch 10/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4145 - acc: 0.8037- ETA: 0s - loss: 0.4119  - ETA: 0s - loss: 0.4142 - acc: 0.80 - 1s 47us/sample - loss: 0.4147 - acc: 0.8039
Epoch 11/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4140 - acc: 0.80230s - loss: 0.4108 - - ETA: 0s - loss: 0.4137 - acc: 0.802
Epoch 12/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4134 - acc: 0.80341s - loss: 0.4096 - acc: 0.804 - ETA: 1s - loss: 0.4006 - acc - ETA: 0s - loss: 0.4079
Epoch 13/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4122 - acc: 0.80260s - loss: 0.4063 - acc: 0. - ETA: 0s - loss: 0.4068 - acc:  - ETA: 0s - loss: 0.4071 - ac
Epoch 14/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4117 - acc: 0.80321s - loss: 0.4127 - acc: 0.8 - ETA: 0s - loss: 0.
Epoch 15/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4118 - acc: 0.803 - 1s 47us/sample - loss: 0.4115 - acc: 0.8037
Epoch 16/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4104 - acc: 0.8047- ETA: 1s - loss: 0.4173 - acc: 0.804 - ETA: 1s - loss: 0.4127 - a - ETA: 0s - loss: 0.4103 - - 1s 47us/sample - loss: 0.4108 - acc: 0.8042
Epoch 17/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4103 - acc: 0.80540s - loss: 0.4070 - acc: 0.806 - ETA: 0s - loss: 0.4082
Epoch 18/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4096 - acc: 0.8058- ETA: 0s - loss: 0.4002 - ETA: 0s - loss: 0.4111 - acc: 0.8 - ETA: 0s - loss: 0.4107 - acc: 0.80 - 1s 47us/sample - loss: 0.4099 - acc: 0.8056
Epoch 19/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4089 - acc: 0.80690s - loss: 0.4075 - acc: 0.
Epoch 20/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4087 - acc: 0.80600s - loss: 0.4087 - acc: 0.
Epoch 21/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4081 - acc: 0.80611s - loss: 0.4075 - acc - ETA: 0s - loss: 0.4058 - - ETA: 0s - loss: 0.4076 - acc: 0.
Epoch 22/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4076 - acc: 0.80620s - loss: 0.4084
Epoch 23/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4072 - acc: 0.80770s - loss: 0.4064 - acc: 0.
Epoch 24/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4069 - acc: 0.80621s - loss: 0.3952 - acc - ETA: 0s - loss: 0.4074 - acc: - ETA: 0s - loss: 0.4052 - acc:
Epoch 25/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4065 - acc: 0.80631s - loss: 0.3989 - acc: - ETA: 0s - loss: 0.4022 - acc - ETA: 0s - loss: 0.4034 - acc: 0.8 - ETA: 0s - loss: 0.4053 - acc: 0.
Epoch 26/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4064 - acc: 0.80711s - loss: 0.4008 - acc: - ETA: 0s - loss: 0.4079 - acc:  - ETA: 0s - loss: 0.4049 - acc
Epoch 27/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4057 - acc: 0.8075
Epoch 28/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4056 - acc: 0.80721s - loss: 0.3917 -  - ETA: 0s - loss: 0.4038 - a
Epoch 29/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4054 - acc: 0.80770s - loss: 0.3968 - acc:  - ETA: 0s - loss: 0.4042 - acc: 0.8 - ETA: 0s - loss: 0.4061 - acc: - ETA: 0s - loss: 0.4059 - acc: 0.808 - ETA: 0s - loss: 0.4067 - acc: 0.8
Epoch 30/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4053 - acc: 0.80771s - loss: 0.4015 - acc: - ETA: 0s - loss: 0.4064 - acc: 0.805 - ETA: 0s - loss: 0.4059
Epoch 31/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4042 - acc: 0.80770s - loss: 0.3976 - acc: 0.813 - ETA: 0s - loss: 0.3977 - acc: 0.812 - ETA: 0s - loss: 0.3982 -
Epoch 32/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4040 - acc: 0.80840s - loss: 0.4008 - acc: 0.80 - ETA: 0s - loss: 0.4025 - acc: 0.808 - ETA: 0s - loss: 0.4020 - acc: 0.809 - ETA: 0s - loss: 0.4021 - acc:  - ETA: 0s - loss: 0.4055 - acc: 0.80 - ETA: 0s - loss: 0.4049 - acc: 0.808 - ETA: 0s - loss: 0.4048 - acc: 0.
Epoch 33/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4036 - acc: 0.80850s - loss: 0.4037 - acc: 0.808
Epoch 34/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4038 - acc: 0.80771s - loss: 0.4049 - acc: 0.806 - ETA: 0s - loss: 0.4022 - acc: 0.8 - ETA: 0s - loss: 0.3971 - acc: 0.8 - ETA: 0s - loss: 0.3953 -
Epoch 35/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4034 - acc: 0.80901s - loss: 0.3930 - acc:  - ETA: 0s - loss: 0.3966 - acc: 0 - ETA: 0s - loss: 0.3998 -
Epoch 36/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4031 - acc: 0.8095
Epoch 37/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4029 - acc: 0.80951s - loss: 0.4141 - acc: 0.8 - ETA: 1s - loss: 0.4002 - acc: 0.8 - ETA: 0s - loss: 0.4071 - acc - ETA: 0s - loss: 0.4044 - acc: 0.8 - ETA: 0s - loss: 0.4032 - acc: 0.808 - ETA: 0s - loss: 0.4023 - acc: 0.80 - ETA: 0s - loss: 0.4020 - acc: 0.8
Epoch 38/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4026 - acc: 0.8087
Epoch 39/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4020 - acc: 0.80820s - loss: 0.3927 - acc: 0.813 - ETA: 0s - loss: 0.3916 - acc: 0. - ETA: 0s - loss: 0.3927 - acc: - ETA: 0s - loss: 0.3980 - acc: 0.81 - ETA: 0s - loss: 0.4002 - acc: 0.80
Epoch 40/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4014 - acc: 0.81040s - loss: 0.3960 -  - ETA: 0s - loss: 0.4005 - acc: 0.810 - ETA: 0s - loss: 0.4006 - acc: 0.810
Epoch 41/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4013 - acc: 0.80971s - loss: 0.41 - ETA: 0s - loss: 0.4018 - acc: 0. - ETA: 0s - loss: 0.4001 - acc: 0.
Epoch 42/100
25724/25724 [==============================] - ETA: 0s - loss: 0.4006 - acc: 0.8099- ETA: 0s - loss: 0.4027 - acc - ETA: 0s - loss: 0.4002 - acc: - 1s 51us/sample - loss: 0.4014 - acc: 0.8093
Epoch 43/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.4012 - acc: 0.80980s - loss: 0.3947 - acc: 0.816 - ETA: 0s - loss: 0.3946 - acc: 0. - ETA: 0s - loss: 0.3993 - acc:  - ETA: 0s - loss: 0.3978 - acc:
Epoch 44/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4011 - acc: 0.80991s - loss: 0.4041 - acc: 0 - ETA: 0s - loss: 0.403 - ETA: 0s - loss: 0.4027 - acc: 0.8
Epoch 45/100

25724/25724 [==============================] - 1s 49us/sample - loss: 0.4005 - acc: 0.80980s - loss: 0.3966 - acc: 0. - ETA: 0s - loss: 0.3980 - a
Epoch 46/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.4007 - acc: 0.80920s - loss: 0.3980 -  - ETA: 0s - loss: 0.4012 - acc: 0.80
Epoch 47/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4004 - acc: 0.81050s - loss: 0.4010 - acc:
Epoch 48/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4001 - acc: 0.80991s - loss: 0.3946 - ac - ETA: 0s - loss: 0.3976
Epoch 49/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.4003 - acc: 0.80901s - loss: 0.4102 - a - ETA: 0s - loss: 0.3989 -
Epoch 50/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3997 - acc: 0.80960s - loss: 0.4029 - acc: 0.80 - ETA: 0s - loss: 0.3990 - acc: 0.8 - ETA: 0s - loss: 0.3988
Epoch 51/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3997 - acc: 0.80901s - loss: 0.3933 - acc: - ETA: 0s - loss: 0.39
Epoch 52/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.4000 - acc: 0.81051s - loss
Epoch 53/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3996 - acc: 0.81030s - loss: 0.4025 - acc:  - ETA: 0s - loss: 0.4022 - acc: 0.80 - ETA: 0s - loss: 0.4024 - acc: 0. - ETA: 0s - loss: 0.4012 - acc: 0.80
Epoch 54/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3990 - acc: 0.81010s - loss: 0.4008 - acc: 0. - ETA: 0s - loss: 0.4002 - acc: 0.810 - ETA: 0s - loss: 0.3985 - acc: 0.811 - ETA: 0s - loss: 0.3986 - acc:  - ETA: 0s - loss: 0.3974 - acc: 0
Epoch 55/100
25724/25724 [==============================] - ETA: 0s - loss: 0.3998 - acc: 0.8103- ETA: 1s - loss: 0.3999 - acc: 0.8 - ETA: 0s - loss: 0.3968 - acc: 0. - ETA: 0s - loss: 0.3974 - acc - ETA: 0s - loss: 0.3983 - acc: 0 - ETA: 0s - loss: 0.3994 - acc: 0.810 - ETA: 0s - loss: 0.3990 - acc: 0.810 - 1s 47us/sample - loss: 0.3993 - acc: 0.8107
Epoch 56/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3993 - acc: 0.81081s - loss: 0.4151 - acc: 0. - ETA: 0s - loss: 0.3968 - acc: - ETA: 0s - loss: 0.3989 - ac - ETA: 0s - loss: 0.3982 - acc: 0.8
Epoch 57/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3987 - acc: 0.8106
Epoch 58/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3984 - acc: 0.8104
Epoch 59/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.3986 - acc: 0.81030s - loss: 0.4065 - acc: 0. - ETA: 0s - loss: 0.398
Epoch 60/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3982 - acc: 0.81100s - loss: 0.3901 - acc: 0. - ETA: 0s - loss: 0.3940 - a
Epoch 61/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3980 - acc: 0.81100s - loss: 0.3882 - acc - ETA: 0s - loss: 0.3965 - acc: - ETA: 0s - loss: 0.3973 - acc: 0.
Epoch 62/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.3982 - acc: 0.81120s - loss: 0.3939 - a - ETA: 0s - loss: 0.3978 - acc: 0. - ETA: 0s - loss: 0.3983 - acc: 0.81
Epoch 63/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3980 - acc: 0.81120s - loss: 0.3882 - - ETA: 0s - loss: 0.3980 - acc:
Epoch 64/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3978 - acc: 0.81090s - loss: 0.3915 - - ETA: 0s - loss: 0.3980 - acc:
Epoch 65/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3976 - acc: 0.81150s - loss: 0.4010 - ac - ETA: 0s - loss: 0.3968 - acc: 0.81
Epoch 66/100
25724/25724 [==============================] - ETA: 0s - loss: 0.3971 - acc: 0.8120- ETA: 0s - loss: 0.3952 - acc:  - ETA: 0s - loss: 0.3954 - acc:  - 1s 47us/sample - loss: 0.3976 - acc: 0.8115
Epoch 67/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3974 - acc: 0.81141s - loss: 0.4072 - ac - ETA: 0s - loss: 0.4001 - ac - ETA: 0s - loss: 0.3972 - acc: 0.8 - ETA: 0s - loss: 0.3979 - acc: 0.81
Epoch 68/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3973 - acc: 0.81131s - loss: 0.4037 - acc: 0.80 - ETA: 1s - loss:
Epoch 69/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3980 - acc: 0.81101s - loss: 0.3841 - acc: 0.8 - ETA: 0s - loss: 0.3887 - acc: 0.81 - ETA: 0s - loss: 0.3930 - acc: 0.8 - ETA: 0s - loss: 0.3955 - ac - ETA: 0s - loss: 0.3978 - acc: 0.8
Epoch 70/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.3968 - acc: 0.81130s - loss: 0.3974 - acc: 0.811 - ETA: 0s - loss: 0.4007 - acc:  - ETA: 0s - loss: 0.3983 - acc: 0. - ETA: 0s - loss: 0.3985 - acc: 0
Epoch 71/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.3972 - acc: 0.81090s - loss: 0.3964 - a - ETA: 0s - loss: 0.3971 - acc
Epoch 72/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.3973 - acc: 0.81100s - loss: 0.3950 - acc: 0.81 - ETA: 0s - loss: 0.3960 - acc: 0. - ETA: 0s - loss: 0.3982 - acc: 0.8 - ETA: 0s - loss: 0.3982 - acc: 0.8
Epoch 73/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.3972 - acc: 0.81090s - loss: 0.3961 - acc: 0.811 - ETA: 0s - loss: 0.3960 - acc: 0. - ETA: 0s - loss: 0.390
Epoch 74/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.3966 - acc: 0.81210s - loss: 0.3936 - acc:
Epoch 75/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3965 - acc: 0.81110s - loss: 0.3968 - acc: 0 - ETA: 0s - loss: 0.3975 - acc: 0.810 - ETA: 0s - loss: 0.3980 - a
Epoch 76/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3966 - acc: 0.81080s - loss: 0.3939 - acc: 0. - ETA: 0s - loss: 0.3904
Epoch 77/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3970 - acc: 0.81111s - loss: 0.3998 - acc: 0.81 - ETA: 0s - loss: 0.3969 - acc: 0.8 - ETA: 0s - loss: 0.392 - ETA: 0s - loss: 0.3962 - acc: 0.811
Epoch 78/100
25724/25724 [==============================] - ETA: 0s - loss: 0.3962 - acc: 0.8113- ETA: 0s - loss: 0.3963 - acc: 0.8 - ETA: 0s - loss: 0.3989 - acc: 0.8 - ETA: 0s - loss: 0.3964 - acc: 0.810 - ETA: 0s - loss: 0.3960 - acc: 0. - ETA: 0s - loss: 0.3969 - acc:  - 1s 47us/sample - loss: 0.3962 - acc: 0.8113
Epoch 79/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.3962 - acc: 0.81200s - loss: 0.3969 - acc:  - ETA: 0s - loss: 0.3994 - a
Epoch 80/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3965 - acc: 0.8119
Epoch 81/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.3966 - acc: 0.81240s - loss: 0.399
Epoch 82/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.3960 - acc: 0.81130s - loss: 0.3937 - acc: 0.81 - ETA: 0s - loss: 0.393
Epoch 83/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.3962 - acc: 0.81161s - loss: 0.3941 - acc: 0. - ETA: 1s - loss
Epoch 84/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.3962 - acc: 0.81151s - loss:  - ETA: 0s - loss: 0.3961 - acc: 0.811 - ETA: 0s - loss: 0.3963 - acc: 0.81
Epoch 85/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3965 - acc: 0.8119
Epoch 86/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3958 - acc: 0.81221s - loss: 0.3722 - a - ETA: 0s - loss: 0.387
Epoch 87/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3962 - acc: 0.81160s - loss: 0.3950 - acc: 0.813 - ETA: 0s - loss: 0.3959 - acc:
Epoch 88/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.3957 - acc: 0.8111
Epoch 89/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3954 - acc: 0.81181s - loss
Epoch 90/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3954 - acc: 0.81180s - loss: 0.3894 -
Epoch 91/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3951 - acc: 0.81201s - los
Epoch 92/100

25724/25724 [==============================] - 1s 53us/sample - loss: 0.3956 - acc: 0.81211s - lo
Epoch 93/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.3950 - acc: 0.81190s - loss: 0.
Epoch 94/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3955 - acc: 0.8124
Epoch 95/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.3952 - acc: 0.8121
Epoch 96/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.3956 - acc: 0.81200s - loss: 0.3932 - acc: 0.811 - ETA: 0s - loss: 0.3920 - ac
Epoch 97/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.3951 - acc: 0.8120
Epoch 98/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.3952 - acc: 0.8118
Epoch 99/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.3952 - acc: 0.8123
Epoch 100/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.3947 - acc: 0.8122

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.4823 - acc: 0.7894
Loss: 0.48226505065798414, Accuracy: 0.7893877625465393

In [26]:
# # Export our model to HDF5 file
# nn_model.save("Results/AlphabetSoupCharity_Optimzation.h5")

# WE DID NOT COVER THIS IN CLASS